<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="background pb-9" room="<%= @room.uid %>" user="<%= current_user ? current_user.uid : "anonymous" %>" join-name="<%= @join_name %>">
  <div class="container">
    <div class="row pt-9">
      <div class="col-lg-6 col-sm-12 mx-auto">
        <div class="mb-6">
          <h4 id="room-owner-name" class="font-weight-400 d-inline-block">
            <span class="font-weight-bold"><%= @room.owner.name %></span>
            <%= t("room.owner_invited") %>
          </h4>
          <h1 class="display-3 text-left font-weight-400"><%= title(@room.name) %></h1>
        </div>
        <div class="ml-0 pl-0">
            <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if render_recordings && !hide_recording_tables %>
  <%= render "shared/sessions", recordings: @public_recordings, pagy: @pagy, only_public: true, user_recordings: false, title: t("room.recordings") %>
<% end %>